body {
	background: #D3D3D3;
}

.logo {
	background-image: url(../images/logo-small.png);
	background-size: 350px auto;
	width: 350px;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
}

.row-fluid {
	width: 80%;
	margin: 0 auto;
}

.top {
	overflow: auto;
	
	margin-bottom: 50px;
}

.descr {
	float: left;
	margin-left: 25px;
	height: 250px;
}

legend {
	color: #6B0082;
}

.btn-reg {
	width: 60%;
	overflow: auto;
	float: right;
}

.btn-reg ul li {
	float: left;
	width: 50%;
	list-style-type: none;
}

.row-fluid .span9 {
	width: 100%;
}

.col1, .col2 {
	float: left;
	width: 50%;
}

.col1 > div:nth-child(1), .col2 > div:nth-child(1) {
	margin-bottom: 150px;
}

.col2 {
	margin-left: 35px;
	width: 40%;
}



.col2 h4 {
	color: #6B0082;	
}

.col2 p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.contact-form p {
	overflow: auto;
	margin-top: 25px;
}

.contact-form input[type="submit"] {
	margin-left: 85px;
}

.contact-form p label {
	float: left;
	width: 20%;
}

.contact-form p input {
	float: left;
	width: 50%;
}


.footer {
	background: #C1C1C1;
	color: #666;
	margin-top: 30px;
	height: 50px;
	width: 100%;
}

.footer a {
	width: 70%;
	margin: auto;
	color: #494949;
	font-weight: bold;
}

.footer ul li {
	float: left;
	list-style-type: none;
	margin-left: 15px;
	width: 20%;
	margin-left: 10%;
	margin-top: 15px;
}

.footer ul li ul li {
	float: none;
	list-style-type: none;
	color: #666;
}

.desc-text {
	color: purple;
	font-size: 12pt;
	font-family: Arial;
	font-weight: normal;
}

.desc-text span {
	font-weight: bold;
}

.desc-text a, .desc-text a:hover {
	color: #9D7279;
}

.pcks-li ul li {
	float: left;
	color: purple;
	width: 30%;
	list-style-type: none;
	font-size: 12pt;
	border: 1px solid;
	margin-left: 10px;
}
.pcks-li ul li div {
	width: 70%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 35px;
}

.undrlined {
	text-decoration: underline;
}

.pcks {
	width: 10%;
	margin: 0 auto;
	color: grey;
	font-size: 14pt;
	padding-bottom: 25px;
}

.reg {
	width: 40%;
	margin: 0 auto;
	color: grey;
	font-size: 14pt;
	padding-bottom: 25px;
}

.reg-frm {
	float: left;
	width: 30%;
}

.btn-fb {
	background-color: #115375;
	color: white;
	width: 180px !important;
	height: 40px !important;
}