body {
	background: #D3D3D3;
}

.logo {
	background-image: url(../images/logo.png);
	background-size: 175px 91px;
	width: 175px;
	height: 91px;
	float: left;

}

.row-fluid {
	width: 80%;
	margin: 0 auto;
}

.top {
	overflow: auto;
	height: 500px;
}

.descr {
	float: left;
	margin-left: 25px;
	height: 250px;
}

legend {
	color: #6B0082;
}

.btn-reg {
	width: 60%;
	overflow: auto;
	float: right;
}

.btn-reg ul li {
	float: left;
	width: 50%;
	list-style-type: none;
}

.row-fluid .span9 {
	width: 100%;
}

.col1, .col2 {
	float: left;
	width: 50%;
}

.col2 {
	margin-left: 35px;
	width: 40%;
}

.clo2 div {
	margin-top: 50px;

}