{%extends "base.html"%}
{% block header_tag%}
{% autoescape off %}
	<script>
	$(document).ready(function() {
		var aoColumns = [
			{"sTitle" : ""},
			{"sTitle" : "Entity Type"},
			{"sTitle" : "First Name"},
			{"sTitle" : "Last Name"}
		]
		var btn = {
			'tag' : 'button',
			'props' : {
				text : 'Select',
				click : function() {$("#referral_id").val($(this).attr('id'))}
			}
		};
		
		var referrer_table = nationwide.utils.datatable_factory(false, {{aaData}}, aoColumns, btn);
		
		var aoColumns = [
			{"sTitle" : ""},
			{"sTitle" : "Entity Type"},
			{"sTitle" : "First Name"},
			{"sTitle" : "Last Name"}
		]
		var btn = {
			'tag' : 'select',
			'props' : {
				options : [],
				text : 'Select',
				click : function() {$("#referral_id").val($(this).attr('id'))}
			}
		};
		
		var referrer_table = nationwide.utils.datatable_factory(false, {{aaData}}, aoColumns, btn);

		
		$("#referrer_table").dataTable(referrer_table);
	});
	</script>
{%endautoescape%}
{% endblock %}

{%block content %}
	<div id="referrer_table_div" style="width:50%;">
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="referrer_table" style="width:100%;"></table>
	</div>
	<br/>
	<br/>
	<div id="referrer_table_div" style="width:50%;">
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="referrer_table" style="width:100%;"></table>
	</div>
	
{%endblock%}