{%extends "base.html"%}
{% block header_tag%}
{% autoescape off %}
	<script>
	$(document).ready(function() {

		$("#another").on('click',function(){
			$("input[name=action]").val('another');
			$("form[name=pick_referred]").submit();
		});

		$("#finished").on('click',function(){
			if ($("#select_referred_id").val() != '') {
				alert('ok');
				var $hdn = $("input",{
					type  : 'hidden',
					value : $("#select_referred_id").val(),
					name  : 'referred'
				});
				$("form[name=pick_referred]").append($hdn);
				alert('1');
				return false;
			}
			$("input[name=action]").val('save');
			$("form[name=pick_referred]").submit();
			return false;
		});
		
		{%ifequal action 'org_search' %}
			{%if aaData %}
				var aoColumns = [
					{"sTitle" : "Select"},
					{"sTitle" : "Organization Name"}
				];
				var select = {
					'tag'   : 'select',
					'props' : {
						'html'  : '<option>choose...</option><option value="1">referred</option>',
						change   : function() {
							if ($(this).val() == '1') {
								$("#select_referred_id").val($(this).attr('id'));
							} else {
								$("#select_referred_id").val('');
							}
						}
					}
				};
				
				var referrer_table = nationwide.utils.datatable_factory(false, {{aaData}}, aoColumns, select);
				$("#referrer_table").dataTable(referrer_table);

			{%endif%}
		{%endifequal%}
		{%ifequal action 'person_search' %}
			{%if aaData %}
				var aoColumns = [
					{"sTitle" : ""},
					{"sTitle" : "Email"},
					{"sTitle" : "First Name"},
					{"sTitle" : "Last Name"}
				];
				var select = {
					'tag'   : 'input',
					'props'   : {
						type  : 'checkbox',
						change   : function() {
							if ($(this).val() == '1') {
								$("#select_referred_id").val($(this).attr('id'));
							} else {
								$("#select_referred_id").val('');
							}
						}
					}
				};
				
				var referrer_table = nationwide.utils.datatable_factory(false, {{aaData}}, aoColumns, select);
				$("#referrer_table").dataTable(referrer_table);
			{%endif%}
		{%endifequal%}		
	});


	</script>
{%endautoescape%}
{% endblock %}

{%block content %}
	<div style="width:100%;height:50px;">
		<h3>Who was referred...Search: for an {%ifequal action 'another' %}Another{%endifequal%} Organization or a Person</h3>
	</div>
	<div style="width:100%;height:100px;">
		<form name="org_search" method="post">
			<div style="width:100%;height:50px;">
				<div style="width:15%;float:left;">
					Organization Name:
				</div>
				<div style="width:70%;float:left;">
					{%csrf_token%}
					<input type="text" name="org_name"/>
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:60%;height:50px;">
					<input type="hidden" name="action" value="org_search"/>
					<input type="hidden" name="referrer" id="referrer" value="{{user_id}}"/>
					<input type="submit" value="Search"/>
				</div>
			</div>
		</form>
	</div>
	<br/><br/>
	<div style="width:100%;height:200px;">
		<form name="org_search" method="post">
			<div style="width:100%;height:50px;">
				<div style="width:15%;float:left;">
					First Name:
				</div>
				<div style="width:70%;float:left;">
					{%csrf_token%}
					<input type="text" name="first_name"/>
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:15%;float:left;">
					Last Name:
				</div>
				<div style="width:70%;float:left;">
					<input type="text" name="last_name"/>
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:15%;float:left;">
					Email:
				</div>
				<div style="width:70%;float:left;">
					<input type="text" name="email"/>
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:60%;height:50px;">
					<input type="hidden" name="action" value="person_search"/>
					<input type="hidden" name="referrer" id="referrer" value="{{user_id}}"/>
					<input type="submit" value="Search"/>
				</div>
			</div>
		</form>
	</div>
	
	<div style="width:100%;">
		<div id="referrer_table_div" style="width:50%;">
			<table cellpadding="0" cellspacing="0" border="0" class="display" id="referrer_table" style="width:100%;"></table>
			
		</div>
	</div>
	<br/>
	<br/>
	<div style="width:100%;">
		{%if action %}
		<form name="pick_referred" method="post" >
			{%csrf_token%}
			
			{{form.errors}}
			{{form.non_field_errors}}

			<input type="hidden" name="referrer" id="referrer" value="{{user_id}}"/>
			<input type="hidden" name="referred_to" id="referred_to" value="{{user.id}}"/>

			{%for referred_id in referred_ids %}	
				<input type="hidden" name="referred" id="referred" value="{{referred_id}}"/>
			{%endfor%}
			
			<input type="hidden" name="select_referred_id" id="select_referred_id" value=""/>
			<input type="hidden" name="action" value="save"/>
			
			<br/>
			
			
			
		</form>
		<button id="another"/> Next >> Select Another</button> &nbsp; &nbsp; &nbsp; <button id="finished">Finished</button>
		{%endif%}
	</div>
{%endblock%}