<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">

<head >
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:title" content="Referral Buddy" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://www.referralbuddy.com" />
	<meta property="og:image" content="{{STATIC_URL}}images/screenshot.png" />
	<meta property="og:site_name" content="Referral Buddy" />
	<meta property="og:email" content="sam@webiken.net"/>
    <meta property="og:phone_number" content="+409 813 4403"/>
	<meta property="fb:admins" content="540766654" />

	<title>{%block title %}{{title}}{%endblock%}</title>
	
	<link rel="shortcut icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico" />

			
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-responsive.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/demo_table.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.dataTables.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script src="{{STATIC_URL}}js/app.js"></script>
	<script src="{{STATIC_URL}}js/datatable.js"></script>
	<script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
	<script src="{{STATIC_URL}}js/modals.js"></script>
	<script src="{{STATIC_URL}}js/jquery.form.js"></script>
	
    
	
	
	<meta name="description" content="Referral Buddy" />
	<meta name="keywords" content="referral buddy " />
	
	{%block header_tag%}
	{%endblock%}
</head>

<!--[if lte IE 8 ]>  
	<body class="ie"> 
<![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--> 
	<body> <!--<![endif]-->
		<!--
		<div id="topbar">
			<ul>
				<li class="fb"><a href="http://www.facebook.com/sam.hammamy">facebook.com/sam.hammmay</a></li>
				<li class="email"><a href="mailto:info@webiken.net">info@webiken.net</a></li>
				<li class="mobile">(408) 813-4403</li>
				<li class="tel">(408) 813-4403</li>
			</ul>
		</div>
	-->
	{%block menu%}
		{%include "menu.html" %}
	{%endblock%}
	<div class="container-fluid">
      	<div class="row-fluid">
             <div class="span9">
				{%block content%}
	
				{%endblock%}
			</div>
		</div>
	</div>
	<div class="container-fluid">
      	<div class="row-fluid">
             <div class="span9">
				<div class="footer">
					<legend>Referral Buddy</legend>
					<ul>
						<li>
							<a href="/services">Benefits</a>
							<ul>
								<li>Benefit I</li>
								<li>Beneftis II</li>
								<li>Benefits III</li>
							</ul>
						</li>
						<li>
							<a href="/services">Concept</a>
							<ul>
								<li>Concept I</li>
								<li>Concept II</li>
								<li>Concept III</li>
							</ul>
						</li>
						<li >
							<span>
								&copy;2012 Nation Wide Finance<br style="margin-bottom: 4px;" />
							</span>
						</li>
					</ul>
				<div>
			</div>
		</div>
	</div>
	
	<!--
	<footer class="footer">
	
		<div>
			<h3>Referral Buddy</h3>
		</div>
		<ul>
			<li>
				<a href="/services">Services</a>
				<ul>
					<li>Service I</li>
					<li>Service II</li>
					<li>Service II</li>
				</ul>
			</li>
			<li>
				<a href="/services">Concept</a>
				<ul>
					<li>Concept I</li>
					<li>Concept II</li>
					<li>Concept III</li>
				</ul>
			</li>
			<li >
				<span>
					&copy;2012 Nation Wide Finance<br style="margin-bottom: 4px;" />
				</span>
			</li>
		</ul>
	</footer>
-->
		
	</body>
</html>