{%extends "base.html" %}

{%block content%}

<div>
	<h3>Worked</h3>
	<br/></br>
	{%if user.is_authenticated%}
		<form method="post" name="frm_create_profile">
			{%csrf_token%}
			{{form.errors}}
			{{form.non_field_errors}}
		<div style="width:100%;height:150px;">
			<h3>You are logged on but don't have a profile yet.</h3>
		</div>
		<div style="width:100%;height:150px;">
			<h3>Please create a profile to continue using the site</h3>
		</div>
		<div style="width:100%;height:150px;">
			<div id="org_div" style="width:100%;float:left;">
				<div style="width:20%;height:75px;float:left;">
					Organization name:
				</div>
				<div style="width:70%;float:left;height:75px;">
					{{form.name}}
				</div>
			</div>
		</div>
		<div style="width:100%;height:250px;">
			<div style="width:100%;height:50px;">
				<div style="width:10%;float:left;">
					Address 1
				</div>
				<div style="width:10%;float:left;">
					{{form.address1}}
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:10%;float:left;">
					Address 2
				</div>
				<div style="width:10%;float:left;">
					{{form.address2}}
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:10%;float:left;">
					City
				</div>
				<div style="width:10%;float:left;">
					{{form.city}}
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:10%;float:left;">
					Province
				</div>
				<div style="width:10%;float:left;">
					{{form.province}}
				</div>
			</div>
			<div style="width:100%;height:50px;">
				<div style="width:10%;float:left;">
					Country
				</div>
				<div style="width:10%;float:left;">
					{{form.country}}
				</div>
			</div>
		</div>
		<div style="width:100%;height:100px;">
			<input type="submit" value="Create Profile"/>
		</div>
	</div>	
	{%endif%}
</div>
{%endblock%}