{%extends "base.html" %}
{%block header_tag %}
<style>
.error {
	color : red;
}
</style>
{%endblock%}
{%block content %}
<form name="post_to_facebook" method="post">{%csrf_token%}
<div style="height:100px;width:100%">
	<h3>Post to Twitter</h3>
</div>
<div style="height:170px;width:100%">
	<div style="float:left;width:20%;text-align:right;">Message:<label style="color:red;">*</label></div>
	<div style="float:left;width:20%;padding-left:20px;">{{form.tweet}}</div>
	<div >{% if form.tweet.errors %} <span class="error">{{ form.tweet.errors|join:", " }}</span>{% endif %}</div>
</div>
<div style="height:50px;width:100%">
	<div style="float:left;width:30%;text-align:right;"><label style="color:red;">*</label> Required</div>
	<div >{% if form.user.errors %} <span class="error">{{ form.user.errors|join:", " }}</span>{% endif %}</div>
</div>
<div style="height:80px;width:100%">
	{{form.user}}
	<div style="float:left;width:30%;text-align:right;"><input type="submit" value="Post"/></div>
</div>
</form>
{%endblock%}