{%extends "base.html" %}

{%block content %}

<div style="width:100%;height:200px;">
	<form name="add_referrer" method="post">
		<div style="width:100%;height:50px;">
			<div style="width:30%;height:50px;margin-left:100px;">
				<b>Set your password:</b>
					{%csrf_token%}
			</div>
		</div>
		<div style="width:100%;height:50px;">
			<div style="width:20%;float:left;text-align:right;">
				Email:
			</div>
			<div style="width:20%;float:left;padding-left:20px;">
				{{form.email}}
			</div>
			<div>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</div>
		</div>
		<div style="width:100%;height:50px;">
			<div style="width:20%;float:left;text-align:right;">
				Password:
			</div>
			<div style="width:20%;float:left;padding-left:20px;">
				{{form.password1}}
			</div>
			<div>{% if form.password1.errors %} <span class="error">{{ form.password1.errors|join:", " }}</span>{% endif %}</div>
		</div>
		<div style="width:100%;height:50px;">
			<div style="width:20%;float:left;text-align:right;">
				Confirm Password:
			</div>
			<div style="width:20%;float:left;padding-left:20px;">
				{{form.password2}}
			</div>
			<div>{% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</div>
		</div>
		<div style="width:50%;height:50px;text-align:center;display:none;" id="submit_btn">
			<input type="submit" value="Create Profile"/>
		</div>
	</form>
</div>

{%endblock%}