{%extends "base.html"%}

{% block title %}Log In{% endblock %}

{%block header_tag %}
<style>
.error, .errorlist li {
	color: red;
}
</style>
{%endblock%}
{%block content%}

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}


<p>
	{{form.non_field_errors}}
</p>



<form method="post" >
<div style="width:100%;height:50px;">
	<div style="width:20%;float:left;">
		<label for="id_username" style="width:100%;">Email:</label>
	</div>
	<div style="width:15%;float:left;">{{ form.username }}</div>
	<div>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</div>
</div>

<div style="width:100%;height:50px;">
	<div style="width:20%;float:left;">
		<label for="id_password" style="width:100%;">Password:</label>
	</div>
	<div style="width:15%;float:left;">{{ form.password }}</div>
	<div>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</div>
</div>

<div style="width:100%;height:50px;">
	<div style="width:20%;float:left;text-align:center;">
		{%csrf_token%}
		<input type="submit" value="Log In" /></div>
</div>
</form>


{%endblock%}