{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="{% url registration_register %}">
<div style="width:100%;height:50px;">
	<div class="reg-frm">
		<label for="id_username" style="width:100%;">Username:</label>
	</div>
	<div class="reg-frm">{{ form.username }}</div>
	<div>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</div>
</div>

<div style="width:100%;height:50px;">
	<div class="reg-frm">
		<label for="id_email">Email address:</label>
	</div>
	<div class="reg-frm">{{ form.email }}</div>
	<div>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</div>
</div>
<div style="width:100%;height:50px;">
	<div class="reg-frm">
		<label for="id_password1">Password:</label>
	</div>
	<div class="reg-frm">{{ form.password1 }}</div>
	<div>{% if form.password1.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</div>
</div>
<div style="width:100%;height:50px;">
	<div class="reg-frm">
		<label for="id_password2">Password:</label>
	</div>
	<div class="reg-frm">{{ form.password2 }}</div>
	<div>{% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</div>
</div>

<div style="width:100%;height:50px;">
	<div class="reg-frm">
		{%csrf_token%}
		<input type="submit" value="Signup With Facebook" class="btn-fb"/>
	</div>
	<div class="reg-frm">
		{%csrf_token%}
		<input type="submit" value="Signup With Facebook" class="btn-fb"/>
	</div>
	<div class="reg-frm">
		{%csrf_token%}
		<input type="submit" value="Signup With Facebook" class="btn-fb"/>
	</div>
</div>

</form>
